<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor</title>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../static/js/echarts.js"></script>
</head>
<body>
<div class="page-header">
    <h1>Monitor</h1>
</div>
<!--<div class="container">-->
<!--<div id="tt"></div>-->
<!--<div id="cpu_chart" style="width: 600px;height:200px;"></div>-->
<!--<div id="mem_chart" style="width: 600px;height:200px;"></div>-->
<!--<div id="process_chart" style="width: 600px;height:200px;"></div>-->
<!--</div>-->
<div id="tt"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div id="cpu_chart" style="width: 750px;height:250px;"></div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div id="mem_chart" style="width: 750px;height:250px;"></div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div id="process_chart" style="width: 750px;height:250px;"></div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div id="io_chart" style="width: 750px;height:250px;"></div>
        </div>
    </div>
</div>
<!-- 生成图表，动态刷新 -->
<script type="text/javascript">
    xx = [];
    yy_cpu = [];
    yy_mem = [];
    yy_process = [];
    yy_io = [];

    function addData(jsonData, shift) {
        xx.push(jsonData['time']);
        yy_cpu.push(jsonData['cpu_percent']);
        yy_mem.push(jsonData['mem_percent']);
        yy_process.push(jsonData['process']);
        yy_io.push(jsonData['net_io']);
        if (shift) {
            xx.shift();
            yy_cpu.shift();
            yy_mem.shift();
            yy_process.shift();
            yy_io.shift();
        }
    }

    function debug(jsonData) {
        $('#tt').text(
            "cpu : " + jsonData['cpu_percent'] + "\n"
            + "global_memory : " + jsonData['mem_percent'] + "\n"
            + "process_memory : " + jsonData['process'] + "\n"
            + "net_io : " + jsonData['net_io'] + "\n"
        );
    }

    initJson = {
        time: 0,
        cpu_percent: 0.0,
        mem_percent: 0.0,
        process: 0.0,
        net_io: 0.0
    };
    for (var i = 0; i < 30; ++i) {
        addData(initJson, false);
    }

    var cpu_chart = echarts.init(document.getElementById("cpu_chart"));
    var mem_chart = echarts.init(document.getElementById("mem_chart"));
    var process_chart = echarts.init(document.getElementById("process_chart"));
    var io_chart = echarts.init(document.getElementById("io_chart"));

    function updateOption() {
        cpu_chart.setOption({
            xAxis: {
                data: xx
            },
            series: [{
                name: 'cpu_percent',
                data: yy_cpu
            }]
        });
        mem_chart.setOption({
            xAxis: {
                data: xx
            },
            series: [{
                name: 'mem_percent',
                data: yy_mem
            }]
        });
        process_chart.setOption({
            xAxis: {
                data: xx
            },
            series: [{
                name: 'process_percent',
                data: yy_process
            }]
        });
        io_chart.setOption({
            xAxis: {
                data: xx
            },
            series: [{
                name: 'net_io',
                data: yy_io
            }]
        })
    }

    cpu_option = {
        title: {
            text: 'CPU Percent'
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: xx
        },
        yAxis: {
            boundaryGap: [0, '50%'],
            type: 'value',
            min: 0,
            max: 100
        },
        series: [
            {
                name: 'cpu_percent',
                type: 'line',
                smooth: true,
                symbol: 'none',
                stack: 'a',
                areaStyle: {
                    normal: {}
                },
                data: yy_cpu
            }
        ]
    };

    mem_option = {
        title: {
            text: 'Memory Percent'
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: xx
        },
        yAxis: {
            boundaryGap: [0, '50%'],
            type: 'value',
            min: 0,
            max: 100
        },
        series: [
            {
                name: 'mem_percent',
                type: 'line',
                smooth: true,
                symbol: 'none',
                stack: 'a',
                areaStyle: {
                    normal: {}
                },
                data: yy_mem
            }
        ]
    };

    process_option = {
        title: {
            text: 'Process Percent'
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: xx
        },
        yAxis: {
            boundaryGap: [0, '50%'],
            type: 'value',
            min: 0,
            max: 100
        },
        series: [
            {
                name: 'process_percent',
                type: 'line',
                smooth: true,
                symbol: 'none',
                stack: 'a',
                areaStyle: {
                    normal: {}
                },
                data: yy_process
            }
        ]
    };

    net_io_option = {
        title: {
            text: 'net_io_status'
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: xx
        },
        yAxis: {
            boundaryGap: [0, '50%'],
            type: 'value',
            min: 0,
        },
        series: [
            {
                name: 'net_io',
                type: 'line',
                smooth: true,
                symbol: 'none',
                stack: 'a',
                areaStyle: {
                    normal: {}
                },
                data: yy_io
            }
        ]
    };

    if (cpu_option && typeof cpu_option === "object") {
        cpu_chart.setOption(cpu_option, true);
        mem_chart.setOption(mem_option, true);
        process_chart.setOption(process_option, true);
        io_chart.setOption(net_io_option, true);
    }


    $(document).ready(
        setInterval(function () {
            $.ajax({
                type: "GET",
                url: "/getdata",
                dataType: "json",
                success: function (jsonData) {
                    debug(jsonData);
                    addData(jsonData, true);
                    updateOption();
                }
            })
        }, 1000)
    )


</script>
</body>
</html>